<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="fetchNumber" value="8"/>
    <add key="fetchIndex" value="0"/>
    <add key="isRandom" value="false"/>
    <add key="downloadInterval" value="4"/>
    <add key="wallpaperChangeInterval" value="0.5"/>
    <add key="wallpaperWidth" value="1920"/>
    <add key="wallpaperHeight" value="1080"/>
  </appSettings>
</configuration>